<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BookingSystem</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/notfound.jsp</location>
	</error-page> 
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/exception.jsp</location>
	</error-page>   
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
  <servlet>
    <description>Log in controller</description>
    <display-name>LoginCtrl</display-name>
    <servlet-name>LoginCtrl</servlet-name>
    <servlet-class>controllers.LoginCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCtrl</servlet-name>
    <url-pattern>/LoginCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Main Controller</description>
    <display-name>MainCtrl</display-name>
    <servlet-name>MainCtrl</servlet-name>
    <servlet-class>controllers.MainCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainCtrl</servlet-name>
    <url-pattern>/MainCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationCtrl</display-name>
    <servlet-name>RegistrationCtrl</servlet-name>
    <servlet-class>controllers.RegistrationCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationCtrl</servlet-name>
    <url-pattern>/RegistrationCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>User logging out tasks</description>
    <display-name>LogoutCtrl</display-name>
    <servlet-name>LogoutCtrl</servlet-name>
    <servlet-class>controllers.LogoutCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCtrl</servlet-name>
    <url-pattern>/LogoutCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Return user's booking history</description>
    <display-name>HistoryCtrl</display-name>
    <servlet-name>HistoryCtrl</servlet-name>
    <servlet-class>controllers.HistoryCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryCtrl</servlet-name>
    <url-pattern>/HistoryCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Flight Search Engine</description>
    <display-name>SearchCtrl</display-name>
    <servlet-name>SearchCtrl</servlet-name>
    <servlet-class>controllers.SearchCtrl</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	Receives the flight parameters passed by results jsp</description>
  	<display-name>FlightSearchResult</display-name>
  	<servlet-name>FlightSearchResult</servlet-name>
  	<servlet-class>controllers.FlightSearchResult</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	Check availability, calculate price, and book flight</description>
  	<display-name>ViewBookCtrl</display-name>
  	<servlet-name>ViewBookCtrl</servlet-name>
  	<servlet-class>controllers.ViewBookCtrl</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	Confirm bank information</description>
  	<display-name>TransactionCtrl</display-name>
  	<servlet-name>TransactionCtrl</servlet-name>
  	<servlet-class>controllers.TransactionCtrl</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	Create pdf with transaction information</description>
  	<display-name>PrintCtrl</display-name>
  	<servlet-name>PrintCtrl</servlet-name>
  	<servlet-class>controllers.PrintCtrl</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShoppingCartCtrl</display-name>
  	<servlet-name>ShoppingCartCtrl</servlet-name>
  	<servlet-class>controllers.ShoppingCartCtrl</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ManageShoppingCartCtrl</display-name>
  	<servlet-name>ManageShoppingCartCtrl</servlet-name>
  	<servlet-class>controllers.ManageShoppingCartCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCtrl</servlet-name>
    <url-pattern>/SearchCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlightSearchResult</servlet-name>
  	<url-pattern>/FlightSearchResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBookCtrl</servlet-name>
  	<url-pattern>/ViewBookCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransactionCtrl</servlet-name>
  	<url-pattern>/TransactionCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintCtrl</servlet-name>
  	<url-pattern>/PrintCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShoppingCartCtrl</servlet-name>
  	<url-pattern>/ShoppingCartCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageShoppingCartCtrl</servlet-name>
  	<url-pattern>/ManageShoppingCartCtrl</url-pattern>
  </servlet-mapping>
</web-app>
